{
	"platforms" : { //if platforms specified, only the keys defined in the object is enabled.
		"ios" : {
			"path" : "different/path/example/ios"//if path defined, it will be used instead of the default provided in config.json
		}
	}
}
